<nav class="bg-instantConvivial" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="" class="brand-logo"><img src="" alt="Logo" width="65px"/></a>
    <ul class="right hide-on-med-and-down">
      <li><a routerLink="" routerLinkActive="active">Accueil</a></li>
      <li><a routerLink="/pizza/list/">Pizzas</a></li>
      <li><a routerLink="/ingredient/list/">Ingrédients</a></li>
    </ul>
    <ul id="nav-mobile" class="side-nav">
      <li><a href="#">Accueil</a></li>
      <li><a href="#">Pizzas</a></li>
      <li><a href="#">Ingrédients</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class=" white-text material-icons">menu</i></a>
  </div>
</nav>

<div id="index-banner" class="parallax-container">
  <div materialize="parallax" class="parallax">
    <img class="main-bg-img" src={{backgroundImage}} />
    <h1 class="red-text">{{title}}</h1>
  </div>
</div><br/>

<router-outlet></router-outlet>

<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">A propos</h5>
        <p class="grey-text text-lighten-4">L'instant convivial (anciennement Régal Pizza), une passion et un
          savoir faire depuis 2004 avec l’acquisition d’un premier camion et depuis avril 2013 un deuxième camion
          qui renforce notre présence sur notre secteur.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Liens</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Mentions légales</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2017 Instant convivial
    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>
